#middleHeader{
   
    height: 13rem;
    display: flex;
    background-color: black;
}
#logo{
    
   height: 10rem;
    margin:auto;
}
#navI{
    height: 4rem;

}

//* FOOTER

footer{background-color: #343a40;height: 10rem;}
#footer{
    
    width: 70%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    
}
.footList{
    list-style: none;
    color: white;
    font-size: 0.8rem;
    margin-top: 50px;
    a{
        color:lightgrey;
    }
}
#social{
    width: 25%;
    margin-top: 3rem;
    i{
        color: rgb(163, 166, 179);
        width: 15%;
        size: 100px;
        padding: 1rem;
        font-size: 1.5rem;
        
    }
}