* {
  box-sizing: border-box;
}
//SEARCH ASIDE
.nameSuggestion{
  background-color: white;
  width: 100%;
  box-shadow: 0;
}
[name=foil],
[name=multicolor] {
  margin-left: 1rem;
}
#loginOnSearch{
display: flex;
flex-direction: column;
width: 100%;
justify-content: space-around;
}
#loginReminder{
  width: 10rem;
  margin: 1rem auto;
}

#searchSuggestion {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  font-size: 3rem;
  line-height: 7rem;
}

#addButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  button,
  input {
    margin: 0;
    width: 100%;
    height: 2.3rem;
    background-color: rgb(228, 104, 67);
    border-radius: 2rem;
    font-size: 0.6rem;
    margin: 1rem 0.5rem;
    color: white;
    font-weight: 600;

    border-style: none;
    border: 0.1rem solid bisque;
  }
  label {
    font-size: 1.5rem;
  }
  input[type="number"] {
    border: 0;
    background-color: white;
    border-radius: 0;
    border: 0.2rem solid orange;
    font-size: 2rem;
    width: 5rem;
    color: black;
  }
  div.modal-content {
    display: flex;
.close{
  width: 1.5rem;
  span{
    margin: 0;
    padding: 0;
  font-size: 1.2rem;}
}
    div.modal-footer {
      flex-direction: row;
      justify-content: space-around;
      #bChooseD {
        display: flex;
        flex-direction: column;
      }
      button {
        width: 10rem;
      }
    }
  }
}
#colorCheck,
.select {
  display: flex;
  flex-direction: column;
}
.card.text-center {
  width: 13rem;
}
label {
  font-size: 0.7rem;
}
[name=cmc] {
  height: 1rem;
  width: 2rem;
  margin-left: 0.9rem;
  font-size: 0.7rem;
}
.select {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.fas.fa-arrow-circle-left {
  transform: rotate(90deg);
}
.fas.fa-arrow-circle-right {
  transform: rotate(90deg);
}

#cmc,
#colors,
#labelFoil,
#multicolorlabel {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#colors {
  margin: auto;
  width: 90%;
  justify-content: space-between;
}
.mana {
  height: 1rem;
  margin-right: 0.2rem;
}
#searchColumn {
  width: 100%;
  margin: 0.2rem;
}
#searchLayoutCenter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  div.select.card-body,
  #searchResult,
  .card {
    width: 100%;
  }
}
#cardContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: flexbox;
  justify-content: space-between;
  margin-top: 2rem;
  img {
    height: 16rem;
  }
  .showCardS {
    height: 26rem;
    width: 14rem;
    margin: auto;
    border-top: 2px solid red;
  }
}
.carousel-control-next {
  background-color: rgba($color: #000000, $alpha: 0.6);
  height: 2.2rem;

  border-radius: 1.5rem;
  margin: auto;
  .fas.fa-redo-alt {
    color: white;
    font-size: 1.2rem;
  }
}
.d-block.w-90 {
  margin: auto;
}
.cname {
  margin-top: 2rem;
  height: 2rem;
  font-weight: 600;
  text-align: center;
}
#bChooseD {
  display: flex;
  flex-direction: column;
}

.modalI {
  height: 20rem;
}
@media only screen and (min-width: 800px) {
  #searchLayoutCenter {
   
    display: flex;
    flex-direction: row;
  
  }
  .fas.fa-arrow-circle-left,
  .fas.fa-arrow-circle-right {
    transform: rotate(0deg);
  }

#asideCollection{
  margin: 0;
  .card.text-center{
    margin-top: 5.5rem;
    width: 14rem;
}
  }
  #searchColumn {
    width: 14rem;
    margin: 0.2rem;
  }
 
}
