#cardContainer[name=collectionContainer] {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: flexbox;
  justify-content: space-between;
  margin: auto;
  margin-top: 6rem;
}

#cardContainer[name=collectionContainer] .showCardS {
  height: 26rem;
  width: 14rem;
  margin: auto 1.5rem;
  border-top: 2px solid red;
}

#cardContainer[name=collectionContainer] img {
  height: 16rem;
  margin: auto;
}

#collectionTitle {
  width: 100%;
  text-align: center;
  margin-top: 6rem;
}

